In [2]:
import pandas as pd


# Coleta de Dados
df = pd.read_csv('data/ecommerce_preparados.csv')

# Visualizar as primeiras linhas
df.head()

,Unnamed: 0,Título,Nota,N_Avaliações,Desconto,Marca,Material,Gênero,Temporada,Review1,...,Nota_MinMax,N_Avaliações_MinMax,Desconto_MinMax,Preço_MinMax,Marca_Cod,Material_Cod,Temporada_Cod,Qtd_Vendidos_Cod,Marca_Freq,Material_Freq
0,0,Pijama Cirurgico Scrub Roupa Privativa Hospit...,4.0,273.0,NaN,toronto uniformes profissionais,poliéster,Sem gênero,não definido,"Preço justo , bem feito acabamento ok. Única s...",...,0.629630,0.029969,NaN,0.100645,781,122,1,1000.0,0.002274,0.117326
1,1,Kit 10 Cuecas Boxer Lupo Cueca Box Algodão Mas...,4.5,3034.0,18.0,lupo,algodão,Masculino,outono/inverno,As cuecas são boas; porém você percebe na cost...,...,0.814815,0.334178,0.213115,0.378585,463,25,3,10000.0,0.042292,0.176444
2,2,Kit Com 10 Cuecas Boxer Algodão Sem Costura Zo...,4.7,5682.0,20.0,zorba,algodão,Masculino,não definido,O tecido é bom e são confortáveis. Só que a nu...,...,0.888889,0.625937,0.245902,0.322329,838,25,1,50000.0,0.009095,0.176444
3,3,Kit 10 Cuecas Boxer Mash Algodão Cotton Box Or...,4.6,1700.0,22.0,mash,algodão,Masculino,primavera/verão,"As cuecas são boas, porém meu marido usa g e p...",...,0.851852,0.187197,0.278689,0.372617,494,25,7,10000.0,0.010914,0.176444
4,4,Kit 3 Short Jeans Feminino Cintura Alta Barato...,4.4,507.0,9.0,menina linda,jean,Feminino,primavera/verão,Estou encantada com essas peças!.\nOs shorts s...,...,0.777778,0.055751,0.065574,0.201767,509,74,7,1000.0,0.010005,0.025466

In [3]:
# Informações sobre o DataFrame
print("Informação sobre o DataFrame")
df.info()
# Resumo estatístico
print("informação resumo estatístico")
df.describe()

Informação sobre o DataFrame
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2199 entries, 0 to 2198
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           2199 non-null   int64
 1   Título               2199 non-null   object
 2   Nota                 1559 non-null   float64
 3   N_Avaliações         1559 non-null   float64
 4   Desconto             874 non-null    float64
 5   Marca                2199 non-null   object
 6   Material             1332 non-null   object
 7   Gênero               2120 non-null   object
 8   Temporada            2199 non-null   object
 9   Review1              1515 non-null   object
 10  Review2              1354 non-null   object
 11  Review3              1233 non-null   object
 12  Qtd_Vendidos         2199 non-null   object
 13  Preço                1964 non-null   float64
 14  Nota_MinMax          1559 non-null   float64
 15  N_Avaliações_MinMax  1559 non-null   float64
 16  Desconto_MinMax      874 non-null    float64
 17  Preço_MinMax         1964 non-null   float64
 18  Marca_Cod            2199 non-null   int64
 19  Material_Cod         2199 non-null   int64
 20  Temporada_Cod        2199 non-null   int64
 21  Qtd_Vendidos_Cod     1973 non-null   float64
 22  Marca_Freq           2199 non-null   float64
 23  Material_Freq        1332 non-null   float64
dtypes: float64(11), int64(4), object(9)
memory usage: 412.4+ KB
informação resumo estatístico

,Unnamed: 0,Nota,N_Avaliações,Desconto,Preço,Nota_MinMax,N_Avaliações_MinMax,Desconto_MinMax,Preço_MinMax,Marca_Cod,Material_Cod,Temporada_Cod,Qtd_Vendidos_Cod,Marca_Freq,Material_Freq
count,2199.000000,1559.000000,1559.000000,874.000000,1964.000000,1559.000000,1559.000000,874.000000,1964.000000,2199.000000,2199.000000,2199.000000,1973.000000,2199.000000,1332.000000
mean,1102.356526,4.560936,204.062219,15.457666,102.705713,0.837384,0.022374,0.171437,0.156587,440.440655,118.055935,3.418372,728.044602,0.006109,0.080198
std,637.791961,0.362854,578.455265,10.929166,69.976425,0.134390,0.063735,0.179167,0.119328,237.064233,60.987133,2.714090,3621.819900,0.009910,0.073812
min,0.000000,2.300000,1.000000,5.000000,10.880000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000455,0.000455
25%,549.500000,4.400000,8.000000,8.000000,50.192500,0.777778,0.000771,0.049180,0.067038,239.500000,62.500000,1.000000,5.000000,0.000910,0.005457
50%,1103.000000,4.600000,27.000000,11.000000,78.970000,0.851852,0.002865,0.098361,0.116111,463.000000,122.000000,3.000000,50.000000,0.001819,0.030014
75%,1654.500000,4.800000,119.500000,20.000000,139.152500,0.925926,0.013056,0.245902,0.218738,642.500000,178.000000,7.000000,100.000000,0.007731,0.176444
max,2206.000000,5.000000,9077.000000,66.000000,597.300000,1.000000,1.000000,1.000000,1.000000,841.000000,178.000000,9.000000,50000.000000,0.042292,0.176444

In [4]:
# Verificação de existencia , valores nulos.
df.isnull().sum()

Unnamed: 0                0
Título                    0
Nota                    640
N_Avaliações            640
Desconto               1325
Marca                     0
Material                867
Gênero                   79
Temporada                 0
Review1                 684
Review2                 845
Review3                 966
Qtd_Vendidos              0
Preço                   235
Nota_MinMax             640
N_Avaliações_MinMax     640
Desconto_MinMax        1325
Preço_MinMax            235
Marca_Cod                 0
Material_Cod              0
Temporada_Cod             0
Qtd_Vendidos_Cod        226
Marca_Freq                0
Material_Freq           867
dtype: int64

In [5]:
df.to_csv("ecommerce_coleta.csv", index=False)